body {
	--main-base-width: 1200px;

	background-color: var(--c-bg-1);
	color: var(--c-fg-1);

	& > * {
		max-width: var(--main-base-width);
		margin: 0 auto;
		padding-inline: var(--m);
	}
}

section:not(:last-child) {
	margin-bottom: var(--xxl);
}

.card {
  background-color: var(--c-bg-2);
  border: 1px solid var(--c-bg-3);
  border-radius: var(--m);
  padding: var(--xxs) var(--l);
  margin: var(--m) 0;
  font-size: var(--fs-xs);
  text-wrap: balance;
  text-align: center;
}
