name: Docker Build

on:
  workflow_call:

env:
  TEST_TAG: ${{ github.repository }}:test
jobs:
  docker-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      -
        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      -
        name: Build and push Docker image
        id: push
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          tags: ${{ env.TEST_TAG}}
          context: .
          file: ./Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true
          build-args: |
            ENV=prod
      -
        name: Test the Docker image
        run: |
          timeout 10 docker run --rm ${{ env.TEST_TAG}} || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi
